{% extends base.html %}
{% block core %}
<div class="span9">

<div class="page-header">
    <h1>{{ _("Documentation") }}</h1>
</div>

<h2>{{ _("Basic input and output examples") }}</h2>
<h3>{{ _("Right click your language, and save the file to disk.")}}</h3>
<h3><a href="{{ url_root }}/public/docs/basic_stdio/program.cpp" style="color:#008800" download>{{ _("C++ examples") }}</a></h3>
<h3><a href="{{ url_root }}/public/docs/basic_stdio/Task.java" style="color:#008800" download>{{ _("Java examples") }}</a></h3>
<h3><a href="{{ url_root }}/public/docs/basic_stdio/Program.cs" style="color:#008800" download>{{ _("C# examples") }}</a></h3>

<h2>{{ _("Programming languages and libraries") }}</h2>

{% if any(".cpp" in get_language(lang).source_extensions for lang in contest.languages) %}
<h3>C++</h3>

<p><a href="{{ url_root }}/stl/index.html">{{ _("Standard Template Library") }}</a></p>
{% end %}

{% if any(".java" in get_language(lang).source_extensions for lang in contest.languages) %}
<h3>Java</h3>

<p>{{ _("The main Java class of the solution should be 'Task'.") }}</p>
{% end %}


<h2>{{ _("Submission details for compilation") }}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{{ _("Message") }}</th>
      <th>{{ _("Explanation") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in COMPILATION_MESSAGES.all() %}
    <tr>
      <td><em>{{ _(message.message) }}</em></td>
      <td>{{ _(message.help) }}</td>
    </tr>
    {% end %}
  </tbody>
</table>

<h2>{{ _("Submission details for evaluation") }}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30%;">{{ _("Message") }}</th>
      <th>{{ _("Explanation") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in EVALUATION_MESSAGES.all() %}
    <tr>
      <td><em>{{ _(message.message) }}</em></td>
      <td>{{ _(message.help) }}</td>
    </tr>
    {% end %}
  </tbody>
</table>

</div>
{% end %}
